* {
  /* colors */

  --red-100: #2d1110;
  --red-90: #471b19;
  --red-80: #612523;
  --red-70: #7c2e2c;
  --red-60: #963836;
  --red-50: #b0423f;
  --red-40: #bb5a58;
  --red-30: #c67371;
  --red-20: #d18b89;
  --red-10: #dca4a2;

  --orange-100: #542916;
  --orange-90: #6d3821;
  --orange-80: #86472c;
  --orange-70: #9e5637;
  --orange-60: #b76542;
  --orange-50: #d0744d;
  --orange-40: #d78a69;
  --orange-30: #dfa085;
  --orange-20: #e6b6a2;
  --orange-10: #eeccbe;

  --gray-100: #171515;
  --gray-90: #231f1f;
  --gray-80: #2e2a2a;
  --gray-70: #3a3434;
  --gray-60: #4d4747;
  --gray-50: #605b5b;
  --gray-40: #736e6e;
  --gray-30: #868282;
  --gray-20: #aba8a8;
  --gray-10: #d1cfcf;

  --blue: #46698e;

  --white: #f7f6f6;
  --black: var(--gray-100);

  /* colors with opacity */

  --gray-90-a-10: color-mix(in srgb, var(--gray-90) 10%, transparent);
  --gray-90-a-25: color-mix(in srgb, var(--gray-90) 25%, transparent);
  --gray-90-a-50: color-mix(in srgb, var(--gray-90) 50%, transparent);
  --white-a-10: color-mix(in srgb, var(--white) 10%, transparent);
  --white-a-25: color-mix(in srgb, var(--white) 25%, transparent);
  --white-a-50: color-mix(in srgb, var(--white) 50%, transparent);
  --white-a-75: color-mix(in srgb, var(--white) 75%, transparent);

  /* font */

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 24px;
  --font-size-xl: 32px;
  --line-height-s: 14px;
  --line-height-m: 20px;
  --line-height-l: 28px;
  --line-height-xl: 36px;

  /* shadows */

  --shadow: 4px 4px 12px rgb(0 0 0 / 15%), -2px -2px 8px rgb(0 0 0 / 10%);
  --shadow-l:
    8px 8px 32px rgb(0 0 0 / 65%), -2px -2px 24px rgb(0 0 0 / 30%),
    -2px -2px 64px rgba(43, 42, 42, 0.09);

  /* transitions */

  --transition-color-100: color 0.1s ease-in-out;
  --transition-color-300: color 0.3s ease-in-out;
  --transition-scale-100: scale 0.1s ease-in-out;
  --transition-opacity-100: opacity 0.1s ease-in-out;
  --transition-opacity-300: opacity 0.3s ease-in-out;
  --transition-bg-color-100: background-color 0.1s ease-in-out;
  --transition-transform-100: transform 0.1s ease-in-out;
  --transition-transform-300: transform 0.3s ease-in-out;
  --transition-border-300: border 0.3s ease-in-out;

  /* sizes */

  --max-width: 1280px;

  /* NARROW-LAYOUT */

  --header-height: 160px;
  --footer-height: 96px;

  @media screen and (max-width: 768px) {
    --font-size-s: 12px;
    --font-size-m: 14px;
    --font-size-l: 16px;
    --font-size-xl: 28px;
    --line-height-s: 12px;
    --line-height-m: 16px;
    --line-height-l: 20px;
    --line-height-xl: 32px;

    /* NARROW-LAYOUT */

    --header-height: 82px;
  }
}
